@font-face {
  font-family: "MyWebFont";
  src: url("porter-sans-inline-block-webfont.woff") format("woff"),
    url("porter-sans-inline-block.ttf") format("ttf");
}
body {
  margin: 0;
  padding: 0;
}
.main_UI {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main_UI_Cntnt {
  width: 45%;
  padding: 1.5em;
  margin: auto 0;
}
h1 {
  font-family: MyWebFont, sans-serif;
  font-size: 56px;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: sans-serif;
  margin: 6px 0;
  padding: 0;
  font-size: 40px;
}
p {
  font-size: 18px;
}
button {
  font-size: 16px;
  padding: 10px 20px;
  width: 26%;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.main_Img {
  width: 55%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .main_UI {
    flex-direction: column-reverse;
  }
  .main_Img {
    width: 90%;
    margin: auto;
  }
  .main_UI_Cntnt {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    text-align: center !important;
  }
}
