@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0 0;
    padding: 0;
  }

body {
    height: 100vh;
    overflow: hidden;
    background-color: #f2f4f3;
    font-family: 'Poppins', sans-serif;
}
.para{
    margin-left: 5rem;
    position: absolute;
    z-index: 2;
    top: 36%;
}
.para p{
    font-weight: bold;
    font-size: 2.4rem;
}
.para .subpara{
   margin-top: 0.5rem;
   font-size: 1.1rem;
   font-weight: 400;
   margin-bottom: 0rem;
}
.para .subpara2{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0rem;
}
.image{
    
}
.img{
    position: absolute;
    top: -10rem;
    left: 64rem;
}
.img2{
    position: absolute;
    bottom: -10rem;
    left: 64rem;  
    border-radius: 20px;
    overflow: hidden;
}
.img3{
    position: absolute;
    bottom: -18rem;
    left: -15rem;  
    border-radius: 70px;
    overflow: hidden;
}
.image{
    width: 410px;
}
.container{

}
button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-top: 0.7rem;
    color: #f2f4f3;
    background-color: #bd212f;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
}
