@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 30px 10%;
  font-size: 1.4rem;
}
header {
  display: flex;
}
.main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-flow: dense;
}

img {
  max-width: 100%;
  width: 100%;
}

.left {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.left h2 {
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 500;
}
.left h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
.buttons {
  display: flex;
  gap: 2rem;
  margin-left: 0.3rem;
  margin-top: 3rem;
}
.buttons div {
  font-size: 1.3rem;
  background-color: rgb(45, 45, 45);
  color: aliceblue;
  padding: 0.7rem 3.5rem;
  border-radius: 50px;
}
.offer {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 1rem;
}
.bottom {
  font-weight: 550;
  margin-top: 7rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.line {
  font-size: 1.3rem;
}
.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  font-size: 1.2rem;
}
.cards div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

i {
  font-size: 1.8rem;
  color: rgb(21, 21, 107);
}
@media screen and (max-width: 500px) {
  * {
    font-size: 70%;
  }
  header {
    font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;
  }

  body {
    margin: 10% 10px;
  }
  .main {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    width: 70%;
  }
  .buttons {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
    font-size: 4rem;
  }
}
