.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
}

.img {
    width: 600px;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    color: rgb(97, 95, 95);
}

.text{
    font-size: 20px;
    color: rgb(97, 95, 95);
}

@media only screen and (max-width: 600px) {
    .container{
        margin-top: 120px;
    }
    
    .img {
        width: 900px;
    }
    
    .heading {
        font-size: 30px;
    }
    
    .text{
        font-size: 16px;
        width: 80%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    } 
}