*{
    margin: 0;
    padding: 0;
}

.nav-highlight{
    /* height: 28px; */
    background-color: #AF1618;
    color: white;
    display: flex;
    justify-content: center;
}

.navbar-list{
    /* border: 2px solid red; */
}

.navbar-list li{
    margin-top: 30px;
    padding: 0 10px;
}

.navbar-list li a{
    color: #232323;
    text-decoration: none;
}

.navbar-list li a:hover{
    color: #AF1618;
    border-bottom: 2px solid #AF1618;
}

.nav-logo a img{
    height: 80px;
    width: 80px;
}

.carousel img{
    height: 550px;
    object-fit: cover;
    display: flex;
}

/* sec-01 */
.sec-01, .sec-03{
    background-color: #efefef;
}
.sec-01-btn{
    background-color: #232323;
    color: white;
    border: 2px solid #232323;
    padding: 10px 30px;
}
.sec-01-btn:hover{
    opacity: 80%;
}

/* sec-02 */
.sec-02-img{
    overflow: hidden;
}

.sec-02 img:hover{
    transition: all .5s;
    transform: scale(1.2);
}

.sec-02, .sec-03, .sec-04{
    padding: 72px 0px;
}

/* sec-03 */
.accordion-button{
    background-color: white;
}

.accordion-button:hover{
    background-color: #AF1618;
    color: #efefef;
}

/* footer */
.foot-link-01 a{
    text-decoration: none;
    color: #232323;
    font-weight: 700;

}

.foot-m{
    padding: 0 150px;
}

.foot-m>div{
    width: 15rem;
}

.foot{
    border-bottom: .5px solid #232323;
    border-top: .5px solid #232323;
    padding: 100px 0;
}

/* end */
.end-logo{
    margin-left: 10rem;
    padding: 20px 0;
}

.end-m ul li{
    margin-top: 2.5rem;
}
.end-m ul li a{
    text-decoration: none;
    color: white;
}
.end-m ul li a:hover{
    color: #232323;
    border-bottom: 2px solid #232323;
}

.end{
    background-color: #AF1618;
}