*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    height: 100vh;
    overflow: hidden;
}

h1
{
    color: white;
    font-size: 34px;
    margin-top: 26px;
}

h3
{
    color: white;
    margin-top: 10px;
}

h4
{
    margin-top: 36px;
}

.container
{
    width: 100vw;
    background-color: black;
}

.cont
{
    display: flex;
    position: relative;
    left: 200px;
    top: 210px;
}

.cont1 img
{
    margin: 23px;
    outline: none;
    box-shadow: rgba(255, 255, 255, 0.50) 0px 54px 55px, rgba(254, 254, 254, 0.50) 0px -12px 30px, rgba(255, 255, 255, 0.50) 0px 4px 6px, rgba(255, 255, 255, 0.50) 0px 12px 13px, rgba(255, 255, 255, 0.50) 0px -3px 5px;
    border-radius: 25px;
}

.cont2
{
    height: 340px;
}

.btn
{
    text-decoration: none;
    font-size: 18px;
    outline: none;
    margin-top: 16px;
    padding: 11px 25px 11px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.btn1
{
    margin-top: 16px;
    padding: 12px 25px 12px;
    font-size: 18px;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn a
{
    text-decoration: none;
    color: black;
}

.btn1 a
{
    text-decoration: none;
    color: white;
}