.serachBox_container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.heading {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
}

.input_container {
    margin-top: 30px;
}

.img {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    margin: 0 20px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 34px;
        font-weight: 400;
    }
   
}