@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
body {
  margin: 30px 2%;
  font-size: 1.4rem;
}
header {
  display: flex;
}
.main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-flow: dense;
}

img {
  max-width: 100%;
  width: 100%;
}


i {
  font-size: 1.8rem;
  color: rgb(21, 21, 107);
}

/*  */
.main-container {
  background-image: url(image-1.jpeg);
  background-size: cover;
  height: 100vh;
}

.main-container-main-para {
  color: white;
  height: fit-content;
  padding: 275px 0px 0px 60px;
}

.main-container-main-para .upper-para h1 {
  font-size: 60px;
}

.main-container-main-para .upper-para h3 {
  font-size: 60px;
}

.main-container-main-para .lower-para h3 {
  font-size: 35px;
}

.catalog-pics-container {
display: flex;
margin: 80px 0px 0px -30px;
}

.catalog-pics-container .catalog-pic{
  border-radius: 15px;
  box-shadow: 0px 1px 7px 3px white;
  margin: 0px 40px;
  height: 300px;
  width: 250px;
}

.catalog-pics-container .pic-1{
  background-image: url(image-2.jpeg);
  background-size: cover;
}
.catalog-pics-container .pic-2{
  background-image: url(image-3.jpeg);
  background-size: cover;
  margin: 60px 0px 0px 0px;
}
.catalog-pics-container .pic-3{
  background-image: url(image-4.jpeg);
  background-size: cover;
}


/*  */
@media screen and (max-width: 500px) {
  * {
    /* font-size: 70%; */
  }
  header {
    font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;
  }

  body {
    margin: 10px 10px;
  }
  .main {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .catalog-pics-container {
    flex-direction: column;
    align-items: center;
  }

  .catalog-pics-container .catalog-pic{
    margin: 20px 40px
  }

  .catalog-pics-container .pic-2{
   margin: 20px 40px 20px -25px
  }

}

@media screen and (max-width: 425px) {

  .catalog-pics-container .catalog-pic{
    margin: 20px 40px

  }
}