* {
  margin: 0%;
  padding: 0%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
html {
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 0% 20%;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: space-between;
  /* gap: 10%; */
  border: 1px gray solid;
  margin: 10% 0;
  padding-left: 10%;
}
.left {
  /* margin-top: 6rem; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 30%;
}
.greet {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.51rem;
}
.greet h2 {
  font-weight: 500;
}
.greet p {
  color: gray;
  font-weight: 480;
}
.details1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.in {
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.8rem;
}
form input {
  padding: 0.5rem 2rem;
  padding-left: 1.5rem;
  outline: none;
  border: 1px gray solid;
  border-radius: 5px;
  font-weight: 500;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(151, 54, 231);
  color: aliceblue;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.bottomline {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: grey;
  gap: 0.2rem;
}
.bottomline a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(133, 133, 133);
}
/* right side */
.right {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  width: 60%;
  margin-right: 0%;
  /* padding: 10% 0%; */
}
img {
  max-width: 100%;
  max-height: 100vh;
}

@media (max-width: 1421px) {
  body {
    margin: 0%;
  }
  .card {
    margin: 0% 0%;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0%;
    background-image: url(/image\ 1.png);
  }
  .card {
    margin: 0% 0%;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 0%;
  }
  .left {
    background-color: rgba(237, 237, 237, 0.935);
    width: 75%;
    padding: 0% 8%;
    margin: 20% 0;
    backdrop-filter: blur(5px);
    border: 1px gray solid;
  }
  .right {
    display: none;
    overflow: hidden;
  }
}
