@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #f5f6fa !important;
    color: black !important;
}

.title{
    margin-top: 5rem;
    font-weight: 900;
    font-size: 5rem;
}

.title-p{
    font-weight: 100;
    color: grey;
    font-size: 1rem;
    padding-top: 10px;
}

.button-create{
    width: auto;
    margin-bottom: 4rem;
}

.img{
    padding: 20px 0;
    height: 75%;
    width: 75%;
    margin: auto;
}

.title2{
    font-weight:bold;
    padding-top: 30px;
}

.hero .container{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 36vw;
    margin-bottom: 30px;
}

.tittle{
    margin: 70px 0;
}

/* showcase */

.imgg{
    width: 75px;
}

.left{
    position: relative;
}

.showcase{
    padding-top: 150px;
}

.title-showcase{
    top: 0;
    font-weight: 900;
    text-align: left;
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
}

.showcase .container{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
}


.showcase-img{
    width: 400px;
}


.showcase2{
    margin-top: 100px;
    margin-bottom: 50px;
}

.showcase2-title{
    font-weight: 900;
    font-size: 3.5rem;
}

.showcase2-p{
    color: grey;
    font-weight: 100;
    font-size: 1rem;
    margin-top: 20px;
}

.learn-more{
    color: #4368C7;
    font-weight: bold;
}