*{
    margin: 0px;
    padding: 0px;
}
#page1{
    background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)) , url("https://c4.wallpaperflare.com/wallpaper/611/881/131/smoothie-superfood-frozen-dessert-milkshake-wallpaper-preview.jpg");
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
}
#menu{
    color: white;
    display: flex;
}
.leftmenu{
    padding: 14px 0px;
    margin: 0px 65px;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
   
    font-weight: bold;
}
.rightmenu{
    padding: 45px 0px;
    margin-left: 570px;
        text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(219, 219, 219);
}
.rightmenu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight:bold;
    cursor: pointer;
}
.rightmenu ul a{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.rightmenu ul li:hover{
    color: white;
}
.rightmenu ul li::after{
   content: '';
   width:0;
   height:2px;
   background: yellow;
   display: block;
   margin: auto;
   transition:0.45s;
}
.rightmenu ul li:hover::after{
    
    width: 100%;
}
#home{
    color: white;
}
#home::after{
   
   width: 40px;
   height:2px;
   background: yellow;
   margin: auto;
}
.icons{
    color: rgb(201, 199, 199);
    padding: 0px 30px;
    padding-top: 45px;
    
    font-size: 1.3rem;
    cursor: pointer;
}
.icons .fa{
    margin-left: 10px;
}
.fa-facebook:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}
.fa-twitter:hover{
    color: white;
}
.fa-search:hover{
    color: white;
}
.social{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.text{
    margin-top: 50px;
    text-align: center;
}
#text1{
    font-size: .75rem;
    color: white;
    font-family: 'Amiri', serif;
}
#one{
    font-size: 4rem;
    color: yellow;
    font-family: 'Handlee', cursive;
}
#text2{
    font-size: 6rem;
    color: white;
    font-family: 'Merienda', cursive;
}
#text3{
    font-size: 6rem;
    color: white;
    font-family: 'Merienda', cursive;
}
#jodi{
    margin-top: 20px;
}
.first{
    text-align: center;
    width: 180px;
    height:50px;
    background-color:transparent;
    border: 2px solid rgb(245, 241, 241);
    font-size: 1.3rem;
    color:rgb(247, 247, 243);
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
}
.first:hover{
    color: black;
    background-color: yellow;
    border-radius: 30px;
    border: 2px solid yellow;
    font-size: 1.2rem;
    width: 176px;
    height:47px;
    font-weight: 500;
}
#btn{
    text-decoration: none;
    
}
#ARROW{
    display: block;
    position: absolute;
    margin-left: 49.5%;
    margin-bottom: 50px;
    
    bottom:-1%;
    animation: bounce .7s infinite;
}
@keyframes bounce{
    0%{
        bottom:1%;
    }
    100%{
        bottom: 0;
    }
}
.animate__animated .animate__fadeInLeft{
    --animation-duration: 3s;
    --animation-delay: 1s;
}