*{
    background-image: url('image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text{
    font-family: 'AR One Sans', sans-serif;
    text-align: center;
}

#p-tag{
    margin-top: -30px;
}
