<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Design 14</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
  </head>
  <body class="overflow-hidden">
    <div class="row">
      <form
        class="w-50 col-6 d-flex flex-column justify-content-center align-items-center bg-white"
      >
        <p class="text-black mb-6 fw-light fs-5">Welcome back!</p>
        <p class="grey_text fs-6">please enter your details</p>
        <div class="w-50">
          <label for="Email" class="mb-1"> Email</label>
          <input
            class="form-control mb-3 grey_text border-bottom border-2 border-secondary"
            type="text"
            id="Email"
            placeholder="Enter mail id"
          />
        </div>
        <div class="w-50">
          <label for="Password" class="mb-1"> password</label>
          <input
            class="form-control mb-3 grey_text border-bottom border-2 border-secondary"
            type="text"
            id="Email"
            placeholder="Enter password"
          />
        </div>
        <div>
          <a
            href=""
            class="d-flex justify-content-end mb-2 text-black text-decoration-none fw-light"
            >Forgot Password?</a
          >
        </div>
        <button type="button" class="btn btn-primary mb-4 purple_bg border-0 w-50">
          Sign in
        </button>
        <div class="text-center grey_text fs-6">
          Don't have an account? <span class="fw-bolder">create now</span>
        </div>
      </form>
      <div class="col-6 w-50">
        <img src="/Design 14/image 1.png" alt="design-img"/>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
