
  
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vb;
  height: 100vh;
  background-image: url(bgg.jpeg);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
.container h3 , p{
  color: white;
}
.container h3{
margin: 2rem 0 0 2rem;
}

.container p{
 margin: 0 0 2rem 2rem;
}
.img-1{
  margin-left: 1rem;
  height: 10rem;
  width: 25%;
  border: 4px solid white;
  border-radius: 1rem;
}